@{
    ViewBag.Title = "";
}

<div class="pt-sm-5">
    <div class="container-sm">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

            <!-- Indicadores-->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
            </div>

            <!-- Imagenes -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./img/PuertoCorinto.jpg"  alt="Puerto Corinto">
                    <div class="carousel-caption">
                        <h3>Puerto Corinto</h3>
                        <p>¡El más importante de nicaragua!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./img/PuertoSanJuanDelSur.jpg" alt="Puerto San Juan Del Sur">
                    <div class="carousel-caption">
                        <h3>Puerto San Juan Del sur</h3>
                        <p>¡El más Turistico de nicaragua!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./img/PuertoSalvadorAllende.jpg" alt="Puerto Salvador Allende" >
                    <div class="carousel-caption">
                        <h3>Puerto Salvador Allende</h3>
                        <p>¡Ícono de Managua!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./img/PuertoSandino.jpg" alt="Puerto Sandino" >
                    <div class="carousel-caption">
                        <h3>Puerto Sandino</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./img/PuertoSanJorge.jpg" alt="Puerto San Jorge"  >
                    <div class="carousel-caption">
                        <h3>Puerto San Jorge</h3>
                    </div>
                </div>
            </div>

            <!-- Controles -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
</div>

<div class="pb-xl-5">
    <div class="pt-sm-5">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width:250px">
                        <img class="card-img-top" src="./img/Grid1.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Puerto</h4>
                            <p class="card-text">Resumen de Verano 2022 en los puertos Nicaragua Empresa Portuaria Nacional</p>
                            <a href="#" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width:250px">
                        <img class="card-img-top" src="./img/Grid2.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Puerto</h4>
                            <p class="card-text">Resumen de Verano 2022 en los puertos Nicaragua Empresa Portuaria Nacional</p>
                            <a href="#" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width:250px">
                        <img class="card-img-top" src="./img/Grid3.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Puerto</h4>
                            <p class="card-text">Resumen de Verano 2022 en los puertos Nicaragua Empresa Portuaria Nacional</p>
                            <a href="#" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width:250px">
                        <img class="card-img-top" src="./img/Grid4.jpeg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Puerto</h4>
                            <p class="card-text">Resumen de Verano 2022 en los puertos Nicaragua Empresa Portuaria Nacional</p>
                            <a href="#" class="btn btn-primary">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>